[submodule "celluloid"]
	path = submodules/celluloid/celluloid
	url = https://github.com/AlgoLab/celluloid.git
[submodule "mp3treesim"]
	path = submodules/mp3/mp3treesim
	url = https://github.com/AlgoLab/mp3treesim.git
[submodule "sasc"]
	path = submodules/sasc/sasc
	url = https://github.com/sciccolella/sasc.git
